/* OnlineUsers.css */
.online-users {
  padding: 4px;
  background-color: #f4f4f4;
  border-radius: 3px;
  max-width: 300px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}



.online-users-dropdown {
  position: absolute;
  top: 60px; 
  right: 60px; 
  background-color: #34495e; 
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 4px;
  z-index: 1001; 
  border: 1px solid white;
}
.online-users ul {
  list-style: none;
  padding: 0;
}

.online-users li {
  padding: 3px;
  border-bottom: 1px solid #ddd;
}

.online-users li:last-child {
  border-bottom: none;
}

.error-message {
  color: red;
  font-size: 0.9rem;
}

.online-users-dropdown {
  position: absolute;
  border-radius: 5px;
  width: 220px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.navbar .online-users-btn {
 cursor: pointer;
   display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  gap: 5px; 
}








.navbar-icons .nav-icon {
  cursor: pointer;
  margin: 0 10px;
  font-size: 20px;
}

.navbar-icons .nav-icon:hover {
  color: #007bff;
}
